---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import WorkshopMeta from '../components/WorkshopMeta.astro';
import ContentSection from '../components/ContentSection.astro';
import ErrorMessage from '../components/ErrorMessage.astro';
import { getEntryBySlug } from 'astro:content';

const workshop = await getEntryBySlug('workshop', 'workshop');
let Content;

if (workshop) {
  const rendered = await workshop.render();
  Content = rendered.Content;
}
---

<Layout title={workshop?.data?.title || "Butoh Workshop"}>
  <Hero 
    title={workshop?.data?.title || "Butoh Workshop"}
    subtitle="Transformative Butoh Dance Experience"
    imageSrc={workshop?.data?.hero}
    imageAlt="Butoh Workshop"
  />
  
  <div class="container">
    {workshop && Content && (
      <ContentSection>
        <WorkshopMeta 
          date={workshop.data.date}
          location={workshop.data.location}
        />
        
        <article>
          <Content />
        </article>
      </ContentSection>
    )}
    
    {!workshop && (
      <ContentSection>
        <ErrorMessage 
          title="Workshop not found"
          message="Please check that the workshop content file exists."
        />
      </ContentSection>
    )}
  </div>
</Layout>